<html>
<head>
<title>Shutterfly</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="http://www.shutterfly.com/c/def.css">
<link rel="stylesheet" type="text/css" href="http://www.shutterfly.com/css/global/layout.css">
<link rel="stylesheet" type="text/css" href="http://www.shutterfly.com/css/global/resetFontsGridsMin.css">
<link rel="stylesheet" type="text/css" href="http://www.shutterfly.com/css/fonts/fonts.css">
<meta name="MSSmartTagsPreventParsing" content="True" />
<meta http-equiv="imagetoolbar" content="no" />
<script type="text/javascript" language="javascript">
var brandDir = 'SFLY'; var uiDir = 'SFLY'; var uiBase = 'http://web1.shutterfly.com/img_/SFLY'; var sessionIsLogged = 0;
var reqHttpPath = 'www.shutterfly.com';
var sflylnk = 0</script>
<link rel="stylesheet" type="text/css" href="http://www.shutterfly.com/c/def-v136182149100012510.css" />
<script type="text/javascript" language="javascript" src="http://www.shutterfly.com/incl_/utils-v136026179200030609.js"></script>
<script type="text/javascript" language=javascript src="http://web1.shutterfly.com/incl_/utils.js"></script>
<style type="text/css" media="all">
/** BEGIN HERE: Page Title */
.pageTitleContainer H1{float:left;margin:0;}
.pageTitleContainer span{float:right;margin-top:4px;}
.pageTitleContainer a,.pageTitleContainer a.link{text-decoration:none;color:#369;font:13px "Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;}
.pageTitleContainer a:hover{text-decoration:underline;}
.pageTitleContainer a.primary:hover{text-decoration:none;}
/** END HERE: Page Title */

.text10 {font-size: 10px; color: #666; font-family: Verdana, Geneva, Arial, sans-serif; line-height: 12px;}
.text11 {font-size: 11px; color: #FFF; font-family: Arial, Verdana, Geneva, sans-serif; line-height: 16px;}

#mystery_main {
margin-left: 10px;
width: 980px;
}

#mystery_hero {
position: relative;
background: transparent url("http://www.shutterfly.com/i/landingpages/1086035_graduation_mysterysale_01.jpg") no-repeat 0 0;
width: 980px;
height: 298px;
margin-bottom: 10px;
}

#mystery_hero_link {
display: block;
width: 980px;
height: 298px;
position: absolute;
top: 0;
left: 0;
}

#mystery_text {
position: absolute;
top: 210px;
left: 508px;
width: 411px;
text-align: center;
}

#mystery_recovery {
position: relative;
background: transparent url("http://www.shutterfly.com/i/landingpages/1086035_graduation_mysterysale_04.jpg") no-repeat 0 0;
width: 980px;
height: 286px;
margin-bottom: 30px;
}

.mr_link {
position: absolute;
display: block;
height: 286px;
top: 0;
}

#mrl_card {
width: 200px;
left: 15px;
}

#mrl_plaque {
width: 179px;
left: 252px;
}

#mrl_bottle {
width: 148px;
left: 451px;
}

#mrl_iphone {
width: 175px;
left: 611px;
}

#mrl_mug {
width: 171px;
left: 791px;
}

</style>

  

</head>




 

%form{ :action => "", :method => "post"}
  %fieldset
    %ol
      %li
        %label{:for => "name"} Name:
        %input{:type => "text", :name => "name", :class => "text"}
      %li
        %label{:for => "mail"} email:
        %input{:type => "text", :name => "mail", :class => "text"}
      %li
        %label{:for => "body"} Message:
        %textarea{:name => "body"}
    %input{:type => "submit", :value => "Send", :class => "button"}
